/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #333;
}

header {
  position: fixed;
  width: 100%;
  background: #333;
  color: white;
  z-index: 1000;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.intro-section,
.scroll-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  height: 100vh;
  background-color: white;
}

.profile-pic-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-pic {
  width: 300px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.scroll-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.scroll-text-left {
  flex: 1;
}

.scrolling-picture img {
  width: 300px;
  border-radius: 10px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

footer a {
  color: #fff;
  text-decoration: none;
}
